<h1>
  <a href="/">Band Tracker</a>
</h1>
<form action="/bands" method="post">
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-success">Add band</button>
</form>
<h4>
  <% @bands.order("name ASC").each do |band| %>
    <a href="/bands/<%= band.id %>"><%= band.name %><br></a>
  <% end %>
</h4>