<h1><a href="/">Band Tracker</a></h1>
<form action="/bands/<%= @band.id %>/edit" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="name">Edit Band Name</label>
  <input type="text" name="name" id="name">
  <button type="submit" class="btn btn-info">Edit</button>
</form>