<!DOCTYPE html>
<html>
<head>
  <title>Band Tracker</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/public/styles.css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
     <%= yield %>
    </div>
  </div>
</body>
</html>